.field {
  position: relative;
  height: 75vh;
}

.playing::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: '';
  background: #000;
  opacity: 0.12;
  cursor: not-allowed;
}

.active.playing::after {
  display: none;
}

.square-lg {
  width: 150px;
  height: 150px;
}

.square-null,
.square-md {
  width: 100px;
  height: 100px;
}

.square-sm {
  width: 50px;
  height: 50px;
}

.square:not(.square-null) {
  cursor: pointer;
}
